@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --bg-image: url(assets/gregory-julien-gNaah11NBLo-unsplash.jpg);
  --white: #f7f7f7;
}
body {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  color: black;
}
#content {
  background-color: var(--white);
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.337);
}

#CARD {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
  border-radius: 20px;
  height: 100%;

  flex: 1;
  position: relative;
}
#card-container {
  perspective: 1000px;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 100%;
}

#LoginArea {
  backface-visibility: hidden;
  height: 20rem;
}
#LoginArea h1,
#SignInArea h1 {
  align-self: self-start;
  font-size: 3rem;
  padding: 40px 0;
}

#SignInArea,
#LoginArea {
  width: 80%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  backface-visibility: hidden;
  justify-content: center;
}
button {
  border: 2px solid black;
  background-color: transparent;
  height: 45px;
  width: 300px;
  font-size: 1rem;
  color: black;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: rgb(34, 34, 34);
  color: white;
}

form {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: column;
  padding: 2px;
  width: 100%;
}
label {
  align-self: start;
  font-weight: 600;
}
#SignInArea {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

#switch {
  height: 45px;
  border-radius: 100px;
  width: 45%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  font-weight: 600;
}
#switch p {
  background-attachment: fixed;
  user-select: none;
}
#bar {
  mix-blend-mode: exclusion;
  z-index: 2;
  position: absolute;
  left: 0;

  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 0%;
  border: 4px solid black;
}

input {
  height: 50px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
  padding-left: 10px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: all 0.3s;
}
input:focus {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.337);
  border: 2px solid black;
}

#IconsArea ul {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#IconsArea ul li p {
  font-size: 1rem;

  padding: 0 10px;
}
#IconsArea li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  text-decoration: none;
  height: 55px;
  padding: 15px;

  border-radius: 10px;
  border: 2px solid black;
  transition: all 0.3s;
}
#IconsArea li a:hover {
  background-color: rgb(34, 34, 34);
  color: white;
}

#window {
  font-family: "Cormorant Garamond", serif;
  height: 100%;
  box-shadow: inset 0 0 8px 6px rgba(0, 0, 0, 0.337);
  flex: 1;
  padding: 25px;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  animation: 1s window forwards ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s ease;
}
@keyframes window {
  0% {
    flex: 1;
  }
}

#window header p {
  font-size: 1rem;
  color: white;
  font-weight: 500;
  filter: drop-shadow(0 2px 4px black);
}
#window header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 100%;
}

#window footer {
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#window footer p {
  filter: drop-shadow(0 2px 4px black);
  flex: 5;
  font-size: 2.5rem;
  user-select: none;
}
#window footer #github-link {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 1;
}
#github-link a {
  text-decoration: none;
  filter: drop-shadow(0 2px 4px black);
  color: white;
  font-size: 2.5rem;
}
.detail-bar {
  width: 60px;
  height: 2px;
  background-color: white;
  box-shadow: 0px 2px 8px 0px black;
}

#switch-mobile {
  width: 60px;
  height: 36px;
  border: 2px solid black;
  border-radius: 30px;
  position: relative;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  cursor: pointer;
}
#dot {
  position: absolute;
  left: -10px;
  border-radius: 30px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-color: var(--white);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.337);
}
.slide-right {
  animation: slide-right 0.4s ease forwards;
}
.slide-left {
  animation: slide-left 0.4s ease forwards;
}

@keyframes slide-right {
  0% {
    left: -10px;
  }
  100% {
    left: 50%;
  }
}
@keyframes slide-left {
  0% {
    left: 50%;
  }
  100% {
    left: -10px;
  }
}

#mobile-area-button {
  display: none;
  flex-direction: column;
  align-items: center;
}
#mobile-area-button #text-mobile-button {
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
}

/*  */

@media screen and (max-width: 700px) {
  #window {
    display: none;
  }

  #SignInArea,
  #LoginArea {
    width: 100%;
  }
  #switch {
    display: none;
  }
  #mobile-area-button {
    display: flex;
  }
  input {
    width: 100%;
  }
  #IconsArea li p {
    display: none;
  }
  #IconsArea li a {
    border: none;
  }
  #IconsArea ul {
    display: flex;
    flex-direction: row;
  }
  #content {
    height: 65%;
    background-color: var(--white);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: black;
  }
  #SignInArea {
    justify-content: start;
  }
  #bar {
    border: none;
  }
  #switch p {
    color: black;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 900px) {
  #window {
    flex: 0.5;
  }
}
